<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obecnosc</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<label for="classes_id">wybierz klase</label><select id="classes_id"
                                                     style="margin-top: 10px; margin-bottom: 10px;"></select>
<div style="margin-bottom: 10px;"><label for="date_id"></label><input type="date" id="date_id"
                                                                      onchange="displayData()">
</div>
<label for="ul_id">godzina - lekcja</label>
<ul id="ul_id" style=" display: flex; gap:25px; margin-bottom: 10px;"></ul>
<table class="table_grades" id="table_id"></table>
</body>
<script>

    async function sendData(subject, j, hour, classes, all_date, inputLate, inputPresent, inputNoPresent) {
        const data2 = {
            student_id: j.id,
            hour: hour,
            subject: subject,
            classes: classes,
            date: all_date,
            inputPresent: inputPresent.checked,
            inputLate: inputLate.checked,
            inputNoPresent: inputNoPresent.checked===true?0:'null'
        }
        await fetch('/attendance/saveAttendance', {
            method: 'POST',
            body: JSON.stringify(data2),
            headers: {'Content-Type': 'application/json'}
        });
    }


    async function createClases() {
        const clasesParent = document.getElementById("classes_id")
        const allClases = await (await fetch('/class/get_all')).json();
        for (const i of allClases) {
            const option = document.createElement("option");
            option.innerHTML = i['name_class'];
            option.value = i['id'];
            clasesParent.appendChild(option);
            clasesParent.onchange = () => displayData();
        }
    }

    async function subHourPerDay(day, all_date, classes) {
        document.getElementById("table_id").innerHTML = '';
        const hours = await (await fetch('/attendance/getAllHour')).json();
        const subHour = await (await fetch(`/attendance/getDayAndClasses/${day}/${classes}`)).json();
        document.getElementById("ul_id").innerHTML = '';
        const ul = document.getElementById("ul_id");
        for (const k of subHour) {
            const li = document.createElement("button");
            li.innerHTML = `${hours[k['hour_id']]}- ${k.subject}`;
            ul.appendChild(li);
            li.onclick = async () => await createAttendanceList(classes, all_date, k['subject'], k['hour_id'])
        }
    }

    async function isCheckboxChecked(listAllAttendanceForChecbox, j, hour, classes, subject, all_date, input, pL) {
        for (const i of listAllAttendanceForChecbox) {
            if (i.student === j.id && i.hour === hour &&
                i.class === +classes && i.lesson === subject
                && i.day === all_date) {
                input.checked = i[pL];
                break;
            }
        }
    }

    async function createAttendanceList(classes, all_date, subject, hour) {
        document.getElementById("table_id").innerHTML = '';
        const students = await (await fetch(`/class/listStudentInThisClass/${classes}`)).json();
        const table = document.getElementById("table_id");
        const hRow = table.createTHead().insertRow();
        for (const i of ['lp', 'uczeń', 'obecny', 'spóźniony', 'nieobecny']) {
            hRow.insertCell().innerHTML = i;
        }
        const listAllAttendanceForChecbox = await (await fetch('/attendance/listOfAllCheckbox')).json();
        bb = {};
        for (l of listAllAttendanceForChecbox) {
                bb[[l.student, l.hour, l.class, l.lesson, l.day]] = [l.present, l.late]
        }
        let lp = 1;
        for (const j of students) {
            const row = table.insertRow();
            row.insertCell().innerHTML = `${lp++}`;
            row.insertCell().innerHTML = `${j.name} ${j.last_name}`
            const inputPresent = document.createElement("input");
            inputPresent.type = 'checkbox';
            row.insertCell().appendChild(inputPresent);
            const inputLate = document.createElement("input");
            inputLate.type = 'checkbox';
            row.insertCell().appendChild(inputLate);
            const inputNoPresent = document.createElement("input");
            inputNoPresent.type = 'checkbox';
            row.insertCell().appendChild(inputNoPresent)
            if (bb[[j.id, hour, classes, subject, all_date]]) {
                inputPresent.checked = bb[[j.id, hour, classes, subject, all_date]][0];
                inputLate.checked = bb[[j.id, hour, classes, subject, all_date]][1];
                inputNoPresent.checked = !bb[[j.id, hour, classes, subject, all_date]][0];
            }
            inputLate.onclick = async () => {
                if (inputLate.checked) {
                    inputPresent.checked = true;
                }
                await sendData(subject, j, hour, classes, all_date, inputLate, inputPresent, inputNoPresent);
            }
            inputPresent.onclick = async () => sendData(subject, j, hour, classes, all_date, inputLate, inputPresent, inputNoPresent);
            inputNoPresent.onclick = async () => {
                if (inputNoPresent.checked) {
                    inputPresent.checked = false;
                    inputLate.checked = false;
                    inputPresent.disabled = true;
                    inputLate.disabled = true;
                } else {
                    inputPresent.disabled = false;
                    inputLate.disabled = false;
                }
                await sendData(subject, j, hour, classes, all_date, inputLate, inputPresent, inputNoPresent);
            }
        }

    }

    async function displayData() {
        const data = document.getElementById("date_id");
        const days = {1: "poniedziałek", 2: "wtorek", 3: "środa", 4: "czwartek", 5: "piątek"}
        const classes = document.getElementById("classes_id").value;
        await subHourPerDay(days[(data.valueAsDate.getDay())], data.value, classes);
    }

    document.getElementById('date_id').valueAsDate = new Date();
    createClases();
</script>
</html>