<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div>
    <table id="table_id"></table>
</div>
</body>
<script>


    async function saveHours(inputFrom, inputUntil, row) {
        const lp = row.cells[0].innerHTML;
        const data = {inputFrom: inputFrom.value, inputUntil: inputUntil.value, lp: lp}
        await fetch('/configurationHours/saveHours', {
            method: 'POST', body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
    }

    async function getTable() {
        document.getElementById("table_id").innerText = '';
        const times = {};
        (await (await fetch('/configuration_hours/getAllTime')).json()).forEach(e=>times[e.lp]=e);

        const table = document.getElementById("table_id");
        const tRow = table.createTHead().insertRow();
        for (const i of ['lp', 'od godziny', 'do godziny']) {
            tRow.insertCell().innerText = i;
        }

        for (let i = 1; i <= 10; i++) {
            const row = table.insertRow();
            row.insertCell().innerHTML = `${i}`;
            row.insertCell();
            const inputFrom = document.createElement("input");
            inputFrom.type = 'text';
            if (times[i]) {
                inputFrom.value = times[i]['from_hour'];
            }
            row.cells[1].appendChild(inputFrom);
            inputFrom.onchange = () => saveHours(inputFrom, inputUntil, row);
            row.insertCell();
            const inputUntil = document.createElement("input");
            inputUntil.type = 'text';
            if (times[i]) {
                inputUntil.value = times[i]['until_hours'];
            }
            row.cells[2].appendChild(inputUntil);
            inputUntil.onchange = () => saveHours(inputFrom, inputUntil, row);
        }
    }

    getTable();
</script>
</html>