<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="/static/main.style.css">
</head>

<body>
<div class="sectionAdd">
    <label for="imie_id">imie</label>
    <input type="text" id="imie_id">
    <label for="nazwisko">nazwisko</label>
    <input type="text" id="nazwisko">
    <label for="pesel">pesel</label>
    <input type="number" id="pesel" onkeyup="checkPesel(this)">
    <button id="but_id" disabled="disabled" onclick="addStudent()"><span class="material-symbols-outlined button">person_add</span></button>
</div>
<table id="table_id" style=" border-collapse: collapse; border: black 1px solid"></table>
</body>
<script>
    async function isPeselExist(pesel){
        const response = await fetch(`/student/check_pesel/${pesel}`)
        return +(await response.text());
    }
    async function checkPesel(peselInput){
        if(peselInput.value.length < 2 || await isPeselExist(peselInput.value)){ // czy istnieje w bazie endpointem
            peselInput.classList.remove("okInputData")
            peselInput.classList.add("wrongInputData")
            document.getElementById("but_id").disabled = true;
        }
        else{
            peselInput.classList.remove("wrongInputData")
            peselInput.classList.add("okInputData")
            document.getElementById("but_id").disabled = false;
        }
    }
    async function addStudent() {
        const data = {
            name: document.getElementById("imie_id").value,
            last_name: document.getElementById("nazwisko").value,
            pesel: +document.getElementById("pesel").value
        };
        const response = await fetch('/student', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if (response.ok) {
            await tableStudent();
        }
    }

    async function tableStudent() {

        const tableStudent = document.getElementById("table_id");
        tableStudent.innerHTML = '';
        const header = tableStudent.createTHead();
        const headerRow = header.insertRow();
        for (const i of ['No', 'imie', 'nazwisko', 'pesel', 'akcja']) {
            headerRow.insertCell().innerText = i;
        }
        const students = await (await fetch('/student')).json();
        let counter = 1;
        for (const i of students) {
            const row = tableStudent.insertRow();
            row.insertCell().innerText = `${counter++}`;
            row.insertCell().innerText = i['name'];
            row.insertCell().innerText = i['last_name'];
            row.insertCell().innerText = i['pesel'];
            row.insertCell().innerHTML = '<button onclick="editData()"><span class="material-symbols-outlined button">edit' +
                '</span></button><button><span class="material-symbols-outlined button">person_remove</span></button>';
        }
    }

    tableStudent()
</script>
</html>