<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div class="sectionAdd">
    <label for="imie_id">imie</label>
    <input type="text" id="imie_id">
    <label for="nazwisko">nazwisko</label>
    <input type="text" id="nazwisko">
    <label for="pesel">pesel</label>
    <input type="number" id="pesel" onkeyup="checkPesel(this,document.getElementById('but_id'), null)">
    <label for="parent_id">rodzic </label><select id="parent_id"></select>
    <button id="but_id" disabled="disabled" onclick="addStudent()"><span class="material-symbols-outlined button">person_add</span>
    </button>
</div>
<!--<a href="/subject">przed</a>-->
<table id="table_id" style=" border-collapse: collapse; border: black 1px solid"></table>
<div class="table_grades">
    <table id="table_oceny_id" style=" border-collapse: collapse; border: black 1px solid"></table>
</div>

</body>
<script>
    async function isPeselExist(pesel) {
        const response = await fetch(`/student/check_pesel/${pesel}`)
        return +(await response.text());
    }

    async function selectOfParents(x,parent_selected_value) {
        const parents = await (await fetch('/parents/getAllParents')).json();
        // const select = document.getElementById("parent_id");
        const lack_as_choose = document.createElement("option")
        lack_as_choose.value = null;
        lack_as_choose.innerHTML = "brak";
        x.appendChild(lack_as_choose);
        for (const i of parents) {
            const selectChild = document.createElement("option");
            selectChild.value = i.id;
            selectChild.innerHTML = `${i.name} ${i.last_name}`;
            if(`${i.name} ${i.last_name}`===parent_selected_value){
                selectChild.selected='selected';
            }
            x.appendChild(selectChild);
        }
        // x.selectedOptions=parent_selected_value == null ?lack_as_choose : parent_selected_value;
    }


    async function checkPesel(peselInput, buton, originValue) {
        let isValueNotCorrect = peselInput.value.length < 2;
        if (!isValueNotCorrect && originValue !== +peselInput.value) {
            isValueNotCorrect = await isPeselExist(peselInput.value);
        }
        if (isValueNotCorrect) { // czy istnieje w bazie endpointem
            peselInput.classList.remove("okInputData")
            peselInput.classList.add("wrongInputData")
            buton.disabled = true;
        } else {
            peselInput.classList.remove("wrongInputData")
            peselInput.classList.add("okInputData")
            buton.disabled = false;
        }
    }

    async function addStudent() {
        const data = {
            name: document.getElementById("imie_id").value,
            last_name: document.getElementById("nazwisko").value,
            pesel: +document.getElementById("pesel").value,
            id_parents: document.getElementById("parent_id").value

        };
        const response = await fetch('/student', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if (response.ok) {
            await getAllStudents();
            document.getElementById("imie_id").value = '';
            document.getElementById("nazwisko").value = '';
            document.getElementById("pesel").value = '';
            document.getElementById("parent_id").value = '';
        }
    }

    async function remove(studentId) {
        if (confirm("czy napewno chcesz usunąć")) {
            await fetch(`/student/${studentId}`, {method: 'DELETE'})
            await getAllStudents()
        }
    }

    async function addGrade(row, religia, angielski, polski, matematyka) {
        row.cells[0][2].innerHTML = '';
        const input1 = document.createElement("input");
        input1.type = 'text';
        input1.innerHTML = religia;
        row.cells[2].appendChild(input1);
    }

    async function oceny(id) {
        const response = await fetch(`/student/oceny/${id}`)
        const oceny = await response.json();
        const tableOceny = document.getElementById("table_oceny_id");
        tableOceny.innerHTML = '';
        const header = tableOceny.createTHead();
        const headerRow = header.insertRow();
        const dataStudent = await fetch(`/student/daneStudenta/${id}`);
        const fullDataStudent = await dataStudent.json();
        const imie = fullDataStudent[0]["name"];
        const nazwisko = fullDataStudent[0]["last_name"];
        headerRow.insertCell().innerHTML = `OCENY: ${imie} ${nazwisko}`;
        for (const i of ['religia', 'angielski', 'polski', 'matematyka']) {
            const row = header.insertRow();
            row.insertCell().innerText = i;
            row.insertCell().innerHTML = oceny[0][i];
        }
        const buttonAdd = document.createElement("button");
        buttonAdd.innerHTML = '<span class="material-symbols-outlined">add</span>';
        buttonAdd.onclick = () => addGrade(headerRow, oceny['religia'], oceny['angielski'], oceny['polski'], oceny['matematyka']);
        headerRow.insertCell().appendChild(buttonAdd);


    }

    async function getAllStudents() {

        const tableStudent = document.getElementById("table_id");
        tableStudent.innerHTML = '';
        const header = tableStudent.createTHead();
        const headerRow = header.insertRow();
        for (const i of ['No', 'imie', 'nazwisko', 'pesel', 'rodzic', 'akcja', 'oceny', 'frekwencja']) {
            headerRow.insertCell().innerText = i;
        }
        const students = await (await fetch('/student/all')).json();
        let counter = 1;
        for (const i of students) {
            const row = tableStudent.insertRow();
            row.insertCell().innerText = `${counter++}`;
            row.insertCell().innerText = i['student_name'];
            row.insertCell().innerText = i['student_last_name'];
            row.insertCell().innerText = i['pesel'];
            // row.insertCell().innerText = "-";
            row.insertCell().innerText = `${i['parent_name']}` === "null" ? "brak" : `${i['parent_name']} ${i['parent_last_name']}`;
            // row.cells[4].id=i['parents_id']
            // row.insertCell().innerText = i['zrobic imie i naziwsko'];
            const editButton = document.createElement("button");
            editButton.innerHTML = '<span class="material-symbols-outlined button">edit</span>';
            editButton.onclick = () => editData(editButton, row, i['student_name'], i['student_last_name'], i['pesel'], i['student_id'],row.cells[4].innerText);
            row.insertCell().innerHTML =
                `<button onclick="remove(${i.student_id})"><span class="material-symbols-outlined button">person_remove</span></button>`;
            row.cells[5].appendChild(editButton);
            const editGrades = document.createElement("button");
            editGrades.innerHTML = '<span class="material-symbols-outlined button">edit</span>';
            editGrades.onclick = () => window.location.href = `/student/oceny?studentId=${i['id']}`;
            row.insertCell(6).appendChild(editGrades);
            row.insertCell(7).innerHTML = '<button><span class="material-symbols-outlined button">edit</span></button>';
        }

    }

    function upadeData(upBaton, butonExit, doneBaton, row, id, name, last_name, pesel,parents_name) {
        // const body = parents_name !=='' ? {name: name.value, last_name: last_name.value, pesel: pesel.value, parents_id: +parents_name.selectedOptions[0].value} : {name: name.value, last_name: last_name.value, pesel: pesel.value}
        const value_parent = parents_name.value == `${null}` ? null : +parents_name.selectedOptions[0].value;
        fetch(`/student/${id}`, {
            method: 'PUT', body: JSON.stringify({name: name.value, last_name: last_name.value, pesel: pesel.value, parents_id: value_parent}),
            headers: {'Content-Type': 'application/json'}
        })
        exit(upBaton, butonExit, doneBaton, row, name.value, last_name.value, pesel.value,parents_name)
    }

    function exit(buton, bExit, bdone, row, imie, nazwisko, pesel,parents_name) {
        row.cells[1].innerHTML = imie;
        row.cells[2].innerHTML = nazwisko;
        row.cells[3].innerHTML = pesel;
        row.cells[4].innerHTML = parents_name.selectedOptions[0].innerHTML;
        bExit.remove();
        bdone.remove();
        buton.style.display = "inline";

    }

    function action_keyword(doneButton, nazwa, input) {
        if (nazwa !== input.value)
            doneButton.disabled = false;
        else (doneButton.disabled = true);
    }

    async function editData(buton, row, imie, nazwisko, pesel, id,parent_value) {
        buton.style.display = "none";
        row.cells[1].innerHTML = '';
        row.cells[2].innerHTML = '';
        row.cells[3].innerHTML = '';
        row.cells[4].innerHTML = '';
        const input1 = document.createElement("input");
        input1.type = 'text';
        input1.value = imie;
        row.cells[1].appendChild(input1);
        const input2 = document.createElement("input");
        input2.type = 'text';
        input2.value = nazwisko;
        row.cells[2].appendChild(input2);
        const input3 = document.createElement("input");
        input3.type = 'number';
        input3.value = pesel;
        row.cells[3].appendChild(input3);
        const input4 = document.createElement("select");
        await selectOfParents(input4,parent_value);
        // input4.selectedOptions =row.cells[4].value;
        row.cells[4].appendChild(input4);
        const doneButton = document.createElement("button");
        doneButton.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        doneButton.disabled = "disabled";
        input1.onkeyup = () => action_keyword(doneButton, imie, input1)
        input2.onkeyup = () => action_keyword(doneButton, nazwisko, input2)
        input3.onkeyup = () => checkPesel(input3, doneButton, pesel);
        input4.onchange = ()=> action_keyword(doneButton,input4.selectedOptions[0].innerHTML, input4)
        row.cells[5].appendChild(doneButton);
        doneButton.onclick = () => upadeData(buton, exitButton, doneButton, row, id, input1, input2, input3,input4);
        const exitButton = document.createElement("button");
        exitButton.innerHTML = '<span class="material-symbols-outlined">close</span>'
        row.cells[5].appendChild(exitButton)
        exitButton.onclick = () => exit(buton, exitButton, doneButton, row, imie, nazwisko, pesel);


    }

    function getAllStudentNotes() {
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        fetch(`/student/oceny/${params.studentId}`)
    }

    async function init() {
        await getAllStudents();
        await selectOfParents(document.getElementById("parent_id"));
    }

    init();
</script>
</html>