<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>plan lekcji-uczeń</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div id="name_student"></div>

<div>
    <label for="date_id">Date</label>
    <input id="date_id" type="month" name="date" onchange="createLessonPlanTableWithAttendance()">
</div>

<table id="calendar_id"></table>
</body>
<script>
    async function nameStudent() {
        const student_id = 33;
        const student = document.getElementById("name_student");
        const dataStudent = await (await fetch(`/student/daneStudenta/${student_id}`)).json();
        console.log(dataStudent);
        student.innerHTML = `jesteś zalogowany jako uczeń: ${dataStudent[0].name} ${dataStudent[0].last_name}`;
    }

    async function createLessonPlanTableWithAttendance() {
        const attendance = await getAttendance();
        const summary = await fillTable(attendance)
        displaySummary(summary);

        function displaySummary(summary) {

        }

        async function fillTable(attendance) {
            createThRow();
            const allRows = await createTable();
            fillData(attendance, allRows);
            return undefined;

            function createThRow() {
                const table = document.getElementById("calendar_id");
                table.innerHTML = '';
                const hRow = table.createTHead().insertRow();
                for (const i of ['', 'poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']) {
                    hRow.insertCell().innerHTML = i;
                }
            }

            function findRow(h, allRows) {
                return allRows[h];
            }

            function findDay(key, date) {
                return new Date(`${date}-${key}`).getDay()
            }

            async function createTable() {
                const hours = await (await fetch('/configuration_hours/getAllTime')).json();
                const thTable = document.getElementById("calendar_id");
                const rowsToFind = {}
                for (const i of hours) {
                    const row = thTable.insertRow();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.cells[0].innerHTML = `${i.from_hour} - ${i.until_hours}`;
                    row.cells[0].id = i.lp;
                    rowsToFind[i.from_hour] = i.lp;
                }
                return rowsToFind;
            }

            function fillData(attendance, allRow) {
                const date = document.getElementById("date_id").value;
                const table = document.getElementById("calendar_id");
                for (const [key, value] of Object.entries(attendance)) {
                    const numberDay = key;
                    for (const j of value) {
                        const row = findRow(j.h, allRow);
                        const cell = findDay(numberDay, date);
                        table.rows[row].cells[cell].innerHTML += `<span><div>${numberDay} ${j["sub"]} ${j["att"]}</div></span>`

                    }
                }
            }
        }


        async function getAttendance() {
            const student_id = 33;
            const date = document.getElementById("date_id").value;
            return await (await fetch(`/attendance/getAttendanceWithDateAndStudent/${date}/${student_id}`)).json();
        }
    }

    async function init() {
        document.getElementById('date_id').valueAsDate = new Date();
        await nameStudent();
        await createLessonPlanTableWithAttendance();
    }

    init();
</script>
</html>