<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div>
    <br><label for="listOfClasses_id">wybierz klasę</label><br/>
    <select id="listOfClasses_id" name="listOfClasses" onchange="createLessonPlanTable()"></select>
</div>
<button onclick="save()">zapisz</button>
<div class="flex-container" id="plannLessonId">
    <table id="table_id"></table>
</div>
</body>
<script>
    class LessonPlan {
        monday = {};
        tuesday = {};
        wednesday = {};
        thursday = {};
        friday = {};
    }

    const lessonPlan = new LessonPlan();

    async function save() {
        const clases = document.getElementById("listOfClasses_id").selectedOptions[0].value;
        await fetch(`/lessonPlan/save/${clases}`, {
            method: 'POST',
            body: JSON.stringify(lessonPlan),
            headers: {'Content-Type': 'application/json'}
        });
    }

    function createSelect(elements, optionInitializer) {
        const select = document.createElement("select");
        const emptyOption = document.createElement("option");
        emptyOption.innerHTML = '';
        select.add(emptyOption);
        for (const i of elements) {
            const option = document.createElement("option");
            optionInitializer(option, i);
            select.appendChild(option);
        }
        return select;
    }

    function isFull(data) {
        return data.every(i=>!i['teacher'] && !i['subject']);
    }

    async function initLessonPlan(lessonPlan) {
        const hours = await (await fetch('/configuration_hours/getAllTime')).json();
        const id_class = document.getElementById("listOfClasses_id").value;
        const dataOfBase = await (await fetch(`/lessonPlan/get_all_lesson_plan/${id_class}`)).json();
        if (isFull(dataOfBase)) {
           const dic = {"poniedziałek": lessonPlan.monday, "wtorek": lessonPlan.tuesday, "środa": lessonPlan.wednesday, "czwartek" :lessonPlan.thursday, "piątek":lessonPlan.friday};
            for(const i of dataOfBase){
                dic[i['day']][i['hour_id']] = {subject: i['subject'], teacher: i['teacher']}
            }

        } else {
            hours.forEach(h => lessonPlan.monday[h.id] = {subject: null, teacher: null});
            hours.forEach(h => lessonPlan.tuesday[h.id] = {subject: null, teacher: null});
            hours.forEach(h => lessonPlan.wednesday[h.id] = {subject: null, teacher: null});
            hours.forEach(h => lessonPlan.thursday[h.id] = {subject: null, teacher: null});
            hours.forEach(h => lessonPlan.friday[h.id] = {subject: null, teacher: null});
        }
        return  hours;
    }

    function createHeaderWithWeekDays() {
        const tableOfLessonPlan = document.getElementById("table_id");
        const Hrow = tableOfLessonPlan.createTHead().insertRow();
        for (const i of ['godziny', 'poniedzialek', 'wtorek', 'sroda', 'czwartek', 'piatek']) {
            Hrow.insertCell().innerHTML = i;
        }
        return tableOfLessonPlan;
    }

    function createSelectWithTeachers(listOfTeacher, days, i, j) {
        const selectTeachers = createSelect(listOfTeacher,
            (option, teacher) => {
                option.innerHTML = `${teacher.name} ${teacher.last_name}`;
                option.value = teacher.id;
                if (teacher.id === days[i][j.id].teacher) {
                    option.selected = true;
                }
            });
        selectTeachers.onchange = () => days[i][j.id].teacher = selectTeachers.selectedOptions[0].value;
        return selectTeachers;
    }

    function createSelectWithSubjects(listOfSubject, days, i, j) {
        const subjectSelect = createSelect(
            listOfSubject, (option, subject) => {
                option.innerHTML = subject.name;
                if (subject.name === days[i][j.id].subject) {
                    option.selected = true;
                }
            }
        );
        subjectSelect.onchange = () => days[i][j.id].subject = subjectSelect.selectedOptions[0].value;
        return subjectSelect;
    }

    async function fillTheLessonPlanTable(hours, tableOfLessonPlan) {
        const listOfTeacher = await (await fetch('/teacher/get_all_teacher')).json();
        const listOfSubject = await (await fetch('/subject/get_all')).json();
        const days = [null, lessonPlan.monday, lessonPlan.tuesday, lessonPlan.wednesday, lessonPlan.thursday, lessonPlan.friday]
        const NUMBER_OF_WEEK_DAYS = 5;
        for (const j of hours) {
            const row = tableOfLessonPlan.insertRow();
            row.insertCell().innerHTML = `${j.from_hour}-${j.until_hours}`;
            for (let i = 1; i <= NUMBER_OF_WEEK_DAYS; i++) {
                const selectTeachers = createSelectWithTeachers(listOfTeacher, days, i, j)
                const selectSubject = createSelectWithSubjects(listOfSubject, days, i, j);
                row.insertCell().innerHTML = '';
                row.cells[i].appendChild(selectTeachers);
                row.cells[i].appendChild(selectSubject);
            }
        }
    }

    async function createLessonPlanTable() {
        document.getElementById("table_id").innerHTML = '';
        const hours = await initLessonPlan(lessonPlan);
        const tableOfLessonPlan = createHeaderWithWeekDays();
        await fillTheLessonPlanTable(hours, tableOfLessonPlan);
    }

    async function fillListOfTheClasses() {
        const name_classes = await (await fetch('/class/get_all')).json();
        const select_name_classes = document.getElementById("listOfClasses_id");
        for (const i of name_classes) {
            const option = document.createElement("option");
            option.value = i['id'];
            option.innerHTML = i['name_class'];
            select_name_classes.appendChild(option);
        }
    }

    async function init() {
        await fillListOfTheClasses();
        await createLessonPlanTable();
    }

    init();

</script>
</html>