<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div>
    <br><label for="listOfClasses_id">wybierz przedmiot</label><br/>
    <select id="listOfClasses_id" name="listOfClasses"></select>
</div>
<div class="flex-container" id="plannLessonId">
    <table id="table_id"></table>
</div>
</body>
<script>

    async function save() {
        const clases = document.getElementById("listOfClasses_id").value;

    }

    function createSelect(elements, optionInitializer) {
        const select = document.createElement("select");
        const emptyOption = document.createElement("option");
        emptyOption.innerHTML = '';
        select.add(emptyOption);
        for (const i of elements) {
            const option = document.createElement("option");
            optionInitializer(option, i);
            select.appendChild(option);
        }
        return select;
    }

    async function getTable() {
        document.getElementById("table_id").innerHTML = '';
        const hours = await (await fetch('/lessonPlan/getAllTime')).json();
        const tableOfLessonPlan = document.getElementById("table_id");
        const Hrow = tableOfLessonPlan.createTHead().insertRow();
        for (const i of ['godziny', 'poniedzialek', 'wtorek', 'sroda', 'czwartek', 'piatek']) {
            Hrow.insertCell().innerHTML = i;

        }
        const listOfTeacher = await (await fetch('/teacher/get_all_teacher')).json();
        const listOfSubject = await (await fetch('/subject/get_all')).json();
        for (const j of hours) {
            const row = tableOfLessonPlan.insertRow();
            row.insertCell().innerHTML = `${j.from_hour}-${j.until_hours}`;
            for (let i = 1; i <= 5; i++) {
                const selectTeachers = createSelect(listOfTeacher,
                    (option, i) => {
                        option.innerHTML = `${i.name} ${i.last_name}`;
                        option.value = i.id;
                    });
                const selectSubject = createSelect(
                    listOfSubject, (option, element) => option.innerHTML = element.name);
                row.insertCell().innerHTML = '';
                row.cells[i].appendChild(selectTeachers);
                row.cells[i].appendChild(selectSubject);
            }
        }
    }


    async function listOfClasses() {
        const name_classes = await (await fetch('/lessonPlan/get_all_names_class')).json();
        const select_name_classes = document.getElementById("listOfClasses_id");
        for (const i of name_classes) {
            const option = document.createElement("option");
            option.value = i['class.id'];
            option.innerHTML = i['name_class'];
            select_name_classes.appendChild(option);
        }


    }

    async function init() {
        await listOfClasses();
        await getTable();
    }

    init();

</script>
</html>