<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan lekcji - rodzic</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div id="name_parents" class="separated"></div>
<div id="log_out" class="separated">
    <button>wyloguj</button>
</div>
<div>

    <label for="children_id">wybierz dziecko </label>
    <select id="children_id" onchange="createLessonPlanTableWithAttendance()"></select>
</div>
<div>
    <label for="date_id">Date</label>
    <input id="date_id" type="month" name="date" onchange="createLessonPlanTableWithAttendance()">
</div>
<div class="flex-container">
    <div class="buttonAnditeminDiv">
        <div id="excuseId">
            <button id="selectAll" onclick="selectAll()" style="display: none">zaznacz wszystko</button>
            <button id="buttonSendId" style="display: none" onclick="sendDaysOfExcuse()">wyślij</button>
            <ul id="divId" style="display: none"></ul>
        </div>
        <button id="buttonExcuseId" title="usprawiedliw nieobecności dziecka" style="display: none">usprawiedliw
        </button>
        <table id="calendar_id"></table>
    </div>
    <div id="summaryId"></div>
</div>
</body>
<script>
    async function createParentsName(parent_id) {
        const dataParent = await (await fetch(`/parents/getParent/${parent_id}`)).json();
        const parent = document.getElementById("name_parents");
        parent.innerHTML = `jesteś zalogowany jako rodzic: ${dataParent.name} ${dataParent.last_name}`;
    }

    async function createSelectOfChildrenForParent() {
        const parent_id = 5;
        const childrenOfParent = await (await fetch(`/student/get_all_children_for_parent/${parent_id}`)).json();
        const selectOfChildren = document.getElementById("children_id");
        for (const i of childrenOfParent) {
            const option = document.createElement("option");
            option.value = i.id;
            option.innerHTML = `${i.name} ${i.last_name}`
            option.selected = true;
            selectOfChildren.appendChild(option);
        }
        await createParentsName(parent_id);
    }


    async function createLessonPlanTableWithAttendance() {
        document.getElementById("summaryId").innerHTML = '';
        const attendance = await getAttendance();
        // checkButtonExcuse(attendance);

        const summary = await fillTable(attendance)
        displaySummary(summary);

        function displaySummary(summary) {
            const attendanceSummaryDict = attendanceSummary(summary);
            viewSummary();

            function viewSummary() {
                const displaySummary = document.getElementById("summaryId");
                for (const i of ["ilosc nieobecnych godzin", "ilosc usprawiedliwionych godzin",
                    "ilosc nieusprawiedliwionych godzin", "ilosc spoznien"]) {
                    const span1 = document.createElement("div");
                    span1.innerHTML = `${i}: ${attendanceSummaryDict["attendance"][i]}`;
                    displaySummary.appendChild(span1);
                }
            }


            function attendanceSummary(summary) {
                const attendanceSummary = {
                    "attendance": {
                        "ilosc nieobecnych godzin": 0,
                        "ilosc usprawiedliwionych godzin": 0,
                        "ilosc nieusprawiedliwionych godzin": 0,
                        "ilosc spoznien": 0
                    }
                };
                for (let i = 0; i < summary.length; i++) {
                    if (summary[i]["late"]) {
                        attendanceSummary["attendance"]["ilosc spoznien"] += 1
                    }
                    if (summary[i]["excuse"]) {
                        attendanceSummary["attendance"]["ilosc usprawiedliwionych godzin"] += 1
                    }
                    if (!summary[i]["excuse"] && !summary[i]["present"]) {
                        attendanceSummary["attendance"]["ilosc nieusprawiedliwionych godzin"] += 1
                    }
                    if (!summary[i]["present"]) {
                        attendanceSummary["attendance"]["ilosc nieobecnych godzin"] += 1
                    }
                }
                return attendanceSummary;
            }
        }


        async function fillTable(attendance) {
            createThRow();
            const allRows = await createTable();
            await fillData(attendance, allRows);
            const studentId = document.getElementById("children_id").value;
            return await (await fetch(`/attendance/summary/${studentId}`)).json()

            function createThRow() {
                const table = document.getElementById("calendar_id");
                table.innerHTML = '';
                const hRow = table.createTHead().insertRow();

                for (const i of ['', 'poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']) {
                    hRow.insertCell().innerHTML = i;
                }
            }

            function findRow(h, allRows) {
                return allRows[h];
            }

            function findDay(key, date) {
                return new Date(`${date}-${key}`).getDay()
            }

            async function createTable() {
                const hours = await (await fetch('/configuration_hours/getAllTime')).json();
                const thTable = document.getElementById("calendar_id");
                const rowsToFind = {}
                for (const i of hours) {
                    const row = thTable.insertRow();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.insertCell();
                    row.cells[0].innerHTML = `${i.from_hour} - ${i.until_hours}`;
                    row.cells[0].id = i.lp;
                    rowsToFind[i.from_hour] = i.lp;
                }
                return rowsToFind;
            }

            async function fillData(attendance, allRow) {
                const date = document.getElementById("date_id").value;
                const table = document.getElementById("calendar_id");

                for (const [key, value] of Object.entries(attendance)) {
                    const numberDay = key;
                    for (const j of value) {
                        const row = findRow(j.h, allRow);
                        const cell = findDay(numberDay, date);
                        const day = numberDay <= 9 ? '0' + numberDay : numberDay;
                        table.rows[row].cells[cell].innerHTML += `<div id="${numberDay} ${j["sub"]} ${j["att"]} ${j.h}"><div> ${j["sub"]} ${j["att"]}</div>
                        <div style="=text-align: right; font-size: 10px">${date}-${day}</div></div>`
                        colouringAttendance(table, j, row, cell, numberDay);
                    }
                }


                function colouringAttendance(table, j, row, cell, numberDay) {

                    const id = document.getElementById(`${numberDay} ${j["sub"]} ${j["att"]} ${j.h}`)
                    if (j["att"] === "NB") {
                        id.classList.add("wrongInputData");
                        checkButtonExcuse(attendance);

                    }
                    if (j["att"] === "SP") {
                        id.classList.add("midInputData");
                    } else {
                        id.classList.add("okInputData");
                    }
                }
            }
        }


    }

    async function getAttendance() {
        const student_id = document.getElementById("children_id").value;
        const date = document.getElementById("date_id").value;
        return await (await fetch(`/attendance/getAttendanceWithDateAndStudent/${date}/${student_id}`)).json();
    }

    function selectAll() {
        const checkboxes = document.getElementById("divId");
        for (const i of checkboxes.childNodes) {
            i.childNodes[1]['checked'] = true;
        }
        document.getElementById("buttonSendId").disabled = false;
    }

    function createListOfSelectCheckbox() {
        const allDaysToExcuse = document.getElementById("divId");
        const listCheckbox = [];
        for (let i = 0; i < allDaysToExcuse.childNodes.length; i++) {
            if (allDaysToExcuse.childNodes[i].childNodes[1]['checked']) {
                listCheckbox.push([allDaysToExcuse.childNodes[i].childNodes[0].parentElement["id"], allDaysToExcuse.childNodes[i]]);
                // console.log(allDaysToExcuse.childNodes[i].textContent, "dupa");
            }
        }
        return listCheckbox;
    }

    async function sendDaysOfExcuse() {
        const dateToSend = createListOfSelectCheckbox();
        const allDaysToExcuse = document.getElementById("divId");
        for (const j of dateToSend) {
            allDaysToExcuse.removeChild(j[1]);
        }
        await fetch(`/attendance/upDate/`, {
            method: 'PUT', body: JSON.stringify(dateToSend),
            headers: {'Content-Type': 'application/json'}
        });
        await createLessonPlanTableWithAttendance();
        if (allDaysToExcuse.childNodes.length === 0) {
            document.getElementById("selectAll").style.display = 'none';
            document.getElementById("buttonSendId").style.display = 'none';
        }
        document.getElementById("buttonSendId").disabled = 'disabled';
        document.getElementById("buttonExcuseId").style.display = 'none';
        if (dateToSend.length !== 1) {
            alert(`usprawiedliwiono dni: ${Array.from(dateToSend).map(element => element[1].textContent)}`)
        } else {
            alert(`usprawiedliwiono dzień: ${Array.from(dateToSend).map(element => element[1].textContent)}`)
        }
    }

    async function checkButtonExcuse(attendance) {
        const buttonExcuse = document.getElementById("buttonExcuseId");
        for (const [key, value] of Object.entries(attendance)) {
            for (const j of value) {
                if (j["att"] === "NB") {
                    buttonExcuse.style.display = 'inline';
                    buttonExcuse.onclick = () => createSelectWithNoPresents(attendance, buttonExcuse);
                }
            }
        }

        function createSelectWithNoPresents(attendance, bExcuse) {
            const date = document.getElementById("date_id").value;
            const ul = document.getElementById("divId");
            const child = document.getElementById("children_id").value;
            ul.style.display = 'inline';
            for (const [key, value] of Object.entries(attendance)) {
                for (const i of value) {
                    if (i["att"] === "NB") {
                        const li = document.createElement("li");
                        const option = document.createElement("input");
                        option.type = "checkbox";
                        option.onclick = () => disabled();
                        li.innerHTML = `${date}-${key <= 9 ? '0' + key : key} godzina ${i.h}- ${i["sub"]}`;
                        li.id = `${child}+${date}-${key <= 9 ? '0' + key : key}+${i["sub"]}+${i.h}`;
                        li.appendChild(option);
                        ul.appendChild(li);
                    }
                }

                function disabled() {
                    const listSelectedCheckbox = createListOfSelectCheckbox();
                    if (listSelectedCheckbox.length) {
                        document.getElementById("buttonSendId").disabled = false;
                    } else {
                        document.getElementById("buttonSendId").disabled = 'disabled';
                    }
                }
            }
            bExcuse.style.display = 'none';
            document.getElementById("selectAll").style.display = 'inline';
            document.getElementById("buttonSendId").style.display = 'inline';
            document.getElementById("buttonSendId").disabled = 'disabled';


        }
    }

    async function init() {
        document.getElementById('date_id').valueAsDate = new Date();
        await createSelectOfChildrenForParent();
        await createLessonPlanTableWithAttendance();
    }


    init();


</script>

</html>