<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>marks</title>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet" href="/static/degree.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div>
    <label for="przedmioty_id">przedmioty</label><select id="przedmioty_id" class="under"></select>
    <label for="klasa_id">klasy</label><select id="klasa_id"></select>
    <button id="addMark" onclick="findStudents()">wybierz uczniow</button>
</div>
<script>


    function createSelectWithDegreToChoose(parent) {
        const select = document.createElement('select');
        for (const i of ['1', '1+', '-2', '2', '2+', '-3', '3', '3+', '-4', '4', '4+', '-5', '5', '5+', '-6', '6', '6+']) {
            const option = document.createElement("option");
            option.innerHTML = i;
            select.appendChild(option);
            parent.appendChild(select);
        }
        return select;
    }

    async function postDegree(done, id, notes, row, selectMarks) {
        const subject = document.getElementById("przedmioty_id").value;
        const data = {studentId: id, mark: selectMarks.value, notes: notes.value, subject: subject}
        await fetch('/degre/addDegre', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        const idDegre = await (await fetch(`/degre/gradesId/${id}/${selectMarks.value}/${notes.value}/${subject}`)).json();
        addSingleGrade(row.cells[3].childNodes[0], notes.value,idDegre[0].id,selectMarks.value);
    }

    function addSingleGrade(parent, notes, id, grade) {
        const degreeSpan = document.createElement("span");
        degreeSpan.classList.add("grade");
        degreeSpan.title = notes;
        degreeSpan.id = `grade_${id}`;
        degreeSpan.innerHTML = grade;
        parent.appendChild(degreeSpan);
    }


    async function addDegree(buttonAdd, id, row) {
        const parent = document.getElementById("sectionAddId");
        const select = createSelectWithDegreToChoose(parent);
        const notes = document.createElement("textarea");
        parent.appendChild(notes);
        const butonDone = document.createElement("button");
        butonDone.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        parent.appendChild(butonDone);
        butonDone.onclick = async () =>
            await postDegree(butonDone, id, notes, row, select);
        const buttonCancel = document.createElement("button");
        buttonCancel.innerHTML = '<span class="material-symbols-outlined button">close</span>';
        parent.appendChild(buttonCancel);
        buttonCancel.onclick = () => {
            buttonAdd.disabled = false;
            butonDone.style.display = 'none';
            notes.style.display = 'none';
            select.style.display = 'none';
            buttonCancel.style.display = 'none';
        }
    }

    async function removeSelectGrade(select, row) {
        const degreId = select.selectedOptions[0].value;
        await fetch(`/degre/degreForDelete/${degreId}`, {method: 'DELETE'});
        row.childNodes[3].childNodes[0].value;
        document.getElementById(`grade_${degreId}`).remove();

    }

    async function removeDegre(row, remove, add, subject, student_id) {
        const degreWithThisSubjectForThisStudent = await (await fetch(`/degre/degreWithThisSubjectForThisStudent/${subject}/${student_id}`)).json();
        remove.style.display = 'none';
        add.style.display = 'none';
        const done = document.createElement('button');
        done.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        row.cells[4].appendChild(done)
        const select = document.createElement('select');
        const selectParent = document.getElementById('gradesDeleteId');
        for (const i of degreWithThisSubjectForThisStudent) {
            const option = document.createElement("option");
            option.innerHTML = i.mark;
            option.innerHTML += `- ${i.notes}`;
            option.value = i.id;
            select.appendChild(option);
            selectParent.appendChild(select);
        }

        done.onclick = async () => {
            remove.style.display = 'inline';
            add.style.display = 'inline';
            done.style.display = 'none';
            cancel.style.display = 'none';
            await removeSelectGrade(select, row);
            select.remove();
        }
        const cancel = document.createElement('button');
        cancel.innerHTML = '<span class="material-symbols-outlined button">close</span>';
        row.cells[4].appendChild(cancel);
        cancel.onclick = () => {
            select.remove();
            done.style.display = 'none';
            cancel.style.display = 'none';
            remove.style.display = 'inline';
            add.style.display = 'inline';

        }
    }

    async function findStudents() {
        document.getElementById("table_id").innerHTML = '';
        const id = document.getElementById("klasa_id").value;
        const students = await (await fetch(`/listStudentInThisClass/${id}`)).json();
        const table = document.getElementById("table_id");
        const hRow = table.createTHead().insertRow();
        for (const i of ['lp', 'imie', 'nazwisko', 'oceny', 'akcja']) {
            hRow.insertCell().innerHTML = i;
        }
        let lp = 1
        for (const j of students) {
            const row = table.insertRow();
            row.insertCell().innerHTML = `${lp++}`;
            row.insertCell().innerHTML = j.name;
            row.insertCell().innerHTML = j.last_name;
            const div = document.createElement("div");
            div.classList.add("gradeList");
            row.insertCell().appendChild(div);
            row.insertCell().innerHTML;
            const add = document.createElement("button");
            add.innerHTML = '<span class="material-symbols-outlined button">add</span>';
            add.onclick = async () => {
                add.disabled = true;
                await addDegree(add, j.id, row);
            }
            row.cells[4].appendChild(add);
            const subject = document.getElementById("przedmioty_id").value;
            const degreWithThisSubjectForThisStudent = await (await fetch(`/degre/degreWithThisSubjectForThisStudent/${subject}/${j.id}`)).json();
            for (const i of degreWithThisSubjectForThisStudent) {
                addSingleGrade(row.cells[3].childNodes[0], i.notes, i.id, i.mark);
            }
            const buttonRemove = document.createElement("button");
            buttonRemove.innerHTML = '<span class="material-symbols-outlined button">remove</span>';
            row.cells[4].appendChild(buttonRemove);
            buttonRemove.onclick = () => removeDegre(row, buttonRemove, add, subject, j.id)

        }
    }

    async function selectOfSubjects() {
        const subjects = await (await fetch('/getAllSubjects')).json();
        const select = document.getElementById("przedmioty_id");
        for (const i of subjects) {
            const selectChild = document.createElement("option");
            selectChild.value = i.name;
            selectChild.innerHTML = i.name;
            select.appendChild(selectChild);
        }
    }

    async function selectOfClasses() {
        const subjects = await (await fetch('/getAllClasses')).json();
        const select = document.getElementById("klasa_id");
        for (const i of subjects) {
            const selectChild = document.createElement("option");
            selectChild.value = i.id;
            selectChild.innerHTML = i.name;
            select.appendChild(selectChild);
        }
    }

    async function get_all() {
        await selectOfSubjects();
        await selectOfClasses();
    }

    get_all();


</script>
<div class="sectionAdd" id="sectionAddId"></div>
<div class="flex-container" id="gradesDeleteId">
    <table id="table_id"></table>
</div>
</body>
</html>