<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oceny</title>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<p>dfdfggghh</p>
<div class="sectionAdd">
    <label for="imie_id">imie</label>
    <input type="text" id="imie_id" onkeyup="checkData()">
    <label for="nazwisko">nazwisko</label>
    <input type="text" id="nazwisko" onkeyup="checkData()">
    <label for="pesel">pesel</label>
    <input type="number" id="pesel" onkeyup="checkData();checkPesel(this, null)">
</div>
<div>
    <label for="subject">wybierz przedmiot</label><br/>
    <select id="subject" name="subjects" multiple="multiple" onchange="checkData()"></select>
    <button id="but_id" disabled="disabled" onclick="sendDataTeacher()"><span class="material-symbols-outlined button">person_add</span>
    </button>


</div>
<label for="select_id"></label><select id="select_id" multiple="multiple" onchange="checkDataEdit()"></select>
<div>
    <table id="table_id"></table>
</div>
<div>
    <label for="pesel_id"></label><input type="number" id="pesel_id" onkeyup="checkDataEdit();checkPesel(this, null)">
    <label for="name_id"></label><input type="text" id="name_id" onkeyup="checkDataEdit()">
    <label for="lastName_id"></label><input type="text" id="lastName_id" onkeyup="checkDataEdit()">
</div>
</body>
<script>
    async function isPeselExist(pesel) {
        const response = await fetch(`/teacher/check_pesel/${pesel}`)
        //debugger;
        return +(await response.text());
    }

    async function isPeselValid(peselInput, originValue) {
      debugger;

        if (peselInput.value.length < 2) {

            return false;

        }
        if (originValue === peselInput.value) {
            return true


        }
        return !await isPeselExist(peselInput.value);


    }

    async function checkPesel(peselInput, originValue) {
        if (!await isPeselValid(peselInput, originValue)) { // czy istnieje w bazie endpointem
            peselInput.classList.remove("okInputData")
            peselInput.classList.add("wrongInputData")
            // buton.disabled = true;
        } else {
            peselInput.classList.remove("wrongInputData")
            peselInput.classList.add("okInputData")
            // buton.disabled = false;
        }
    }

    async function checkData() {
        const name = document.getElementById("imie_id").value;
        const lastName = document.getElementById("nazwisko").value;
        const pesel = document.getElementById("pesel").value;
        const selectedOpt = Array.from(document.getElementById("subject").selectedOptions).map(element => element.value);

        document.getElementById("but_id").disabled = !(name && lastName && selectedOpt && await isPeselValid(document.getElementById("pesel"), pesel));
    }

    async function get_all_subjects(subjectsSelect) {
        const subjects = await (await fetch('/teacher/get_all_subjects')).json();
        for (const i of subjects) {
            const option = document.createElement("option");
            option.value = i.name;
            option.innerHTML = i.name;
            subjectsSelect.appendChild(option);
        }
    }

    async function sendDataTeacher() {
        const subjects = document.getElementById("subject");
        let listSubjects = Array.from(subjects.selectedOptions).map(element => element.value);
        const name = document.getElementById("imie_id").value;
        const last_name = document.getElementById("nazwisko").value;
        const pesel = +document.getElementById("pesel").value;
        const data = {subjects: listSubjects, name: name, last_name: last_name, pesel: pesel}
        await fetch('/teacher/add', {
            method: 'POST', body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        })
        document.getElementById("table_id").innerHTML = '';
        await tableTeacher();
    }

    async function SubjectsOfTeacher(id) {
        const result = await (await fetch(`/teacher/subjectsOfTeacher/${id}`)).json();
        let a = '';
        for (const i of result) {
            a += `${i['subject']} `;
        }
        return a
    }

    // async function createMSelect(row, id) {
    //     const subjects = document.getElementById("select_id");
    //     const subjectsTeacher = await (await fetch(`/teacher/subjectsOfTeacher/${id}`)).json();
    //     for (const i of subjectsTeacher) {
    //         const option = document.createElement("option");
    //         option.value = i['subject'];
    //         option.innerHTML = i['subject'];
    //         row.cells[4].innerText = '';
    //         subjects.appendChild(option);
    //     }
    //     return subjects;
    // }
    //
    // async function deleteSelectSubject(row, id) {
    //     const select = document.getElementById("select_id").value;
    //     await fetch(`/teacher/delete_subject_for_teacher/${id}/${select}`, {method: 'DELETE'});
    //     row.cells[1].innerText = '';
    //     const subjectOfTe = await SubjectsOfTeacher(id);
    //     row.cells[1].innerHTML = subjectOfTe;

    //}
    async function checkDataEdit(){
        const Iname = document.getElementById("name_id").value;
        const IlastName = document.getElementById("lastName_id").value;
        const Ipesel = document.getElementById("pesel_id").value;
        const selectedOpt = Array.from(document.getElementById("select_id").selectedOptions).map(element => element.value);
        document.getElementById("button_id").disabled = !(Iname && IlastName && selectedOpt && await isPeselValid(document.getElementById("pesel_id"),Ipesel));
    }
    async function updateDataTeacher(id){
        const name = document.getElementById("name_id").value;
        const lastName = document.getElementById("lastName_id").value;
        const pesel =document.getElementById("pesel_id").value;
            const subjects = Array.from(document.getElementById("select_id").selectedOptions).map(element=>element.value);
            const data = {name: name, lastName:lastName, pesel:pesel, subjects:subjects, id:id}
        await fetch('/teacher/updateData', {method:'PUT', body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}});
    }

    async function editSubjectsOfTeacher(butonEdit, row, id, name, last_name, pesel) {
        butonEdit.style.display = 'none';
        const buttonCancel = document.createElement("button");
        buttonCancel.innerHTML = '<span class="material-symbols-outlined button">close</span>';
        buttonCancel.onclick = () => {
            buttonCancel.remove();
            buttonAccept.remove();
            butonEdit.style.display = 'inline';
        }
        const buttonAccept = document.createElement("button");
        buttonAccept.id ='button_id';
        buttonAccept.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        buttonAccept.disabled = 'disabled';
        buttonAccept.onclick = () => {
            updateDataTeacher(id)
            buttonCancel.remove();
            buttonAccept.remove();
            butonEdit.style.display = 'inline';
        }

        butonEdit.parentElement.appendChild(buttonCancel);
        butonEdit.parentElement.appendChild(buttonAccept);
        row.cells[4].innerHTML = '';
        const select = document.getElementById("select_id");
        const selectSubj = await get_all_subjects(select);
        row.cells[4].appendChild(select);
        const inputName = document.getElementById('name_id');
        inputName.value = name;
        row.cells[1].innerText = '';
        row.cells[1].appendChild(inputName);
        const inputLastName = document.getElementById('lastName_id');
        inputLastName.value = last_name;
        row.cells[2].innerText = '';
        row.cells[2].appendChild(inputLastName);
        const inputPesel = document.getElementById("pesel_id");
        inputPesel.value = pesel;
        row.cells[3].innerText = '';
        row.cells[3].appendChild(inputPesel);
    }

    async function tableTeacher() {
        const allTeacher = await (await fetch('/teacher/get_all_teacher')).json();
        const tableOfTeacher = document.getElementById("table_id");
        const Hrow = tableOfTeacher.createTHead().insertRow();
        Hrow.insertCell().innerHTML = 'lp';
        Hrow.insertCell().innerHTML = 'imie';
        Hrow.insertCell().innerHTML = 'nazwisko';
        Hrow.insertCell().innerHTML = 'pesel';
        Hrow.insertCell().innerHTML = 'przedmiot';
        Hrow.insertCell().innerHTML = 'akcja';
        let lp = 1
        for (const j of allTeacher) {

            const row = tableOfTeacher.insertRow();
            row.insertCell().innerHTML = `${lp++}`;
            row.insertCell().innerHTML = `${j.name}`;
            row.insertCell().innerHTML = `${j.last_name}`;
            row.insertCell().innerHTML = `${j.pesel}`;
            row.insertCell().innerHTML = await SubjectsOfTeacher(j.id);
            row.insertCell();
            const edit = document.createElement("button");
            edit.innerHTML = '<span class="material-symbols-outlined button">edit</span>';
            edit.onclick = () => editSubjectsOfTeacher(edit, row, j.id, j.name, j.last_name, j.pesel)
            row.cells[5].appendChild(edit);
        }
    }

    function getAllStudentNotes() {
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        fetch(`/student/oceny/${params.studentId}`)
    }

    async function init() {
        const subjectsSelect = document.getElementById("subject");
        await get_all_subjects(subjectsSelect);
        await tableTeacher();
    }

    init();
</script>
</html>