<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oceny</title>
    <script src="/static/teacher-admin/teacherApi.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<div class="sectionAdd">
    <label for="imie_id">imie</label>
    <input type="text" id="imie_id" onkeyup="checkData()">
    <label for="nazwisko">nazwisko</label>
    <input type="text" id="nazwisko" onkeyup="checkData()">
    <label for="pesel">pesel</label>
    <input type="number" id="pesel" onkeyup="checkData();checkPesel(this, null)">
    <div>
        <label for="subject">wybierz przedmiot</label><br/>
        <select id="subject" name="subjects" multiple="multiple" onchange="checkData()"></select>
    </div>
    <button id="acceptButtonId" disabled="disabled" onclick="addNewTeacher(); await tableTeacher();"><span
            class="material-symbols-outlined button">person_add</span>
    </button>
</div>
<div>
    <table id="table_id"></table>
</div>
</body>
<script>
    async function isPeselValid(peselInput, originValue) {
        if (peselInput.value.length < 2) {
            return false;
        }
        if (originValue === +peselInput.value) {
            return true
        }
        return !await isPeselExist(peselInput.value);
    }

    async function checkPesel(peselInput, originValue) {
        if (!await isPeselValid(peselInput, originValue)) { // czy istnieje w bazie endpointem
            peselInput.classList.remove("okInputData");
            peselInput.classList.add("wrongInputData");
            return false;
        } else {
            peselInput.classList.remove("wrongInputData");
            peselInput.classList.add("okInputData");
            return true;
        }
    }

    async function checkData() {
        const name = document.getElementById("imie_id").value;
        const lastName = document.getElementById("nazwisko").value;
        const pesel = document.getElementById("pesel");
        await checkDataEdit(document.getElementById("acceptButtonId"), null, name, lastName,
            document.getElementById("subject"), pesel);
    }

    async function checkDataEdit(buttonAccept, originPesel, name, lastName, select, inputCurrentPesel) {
        const selectedOpt = Array.from(select.selectedOptions).map(element => element.value);
        buttonAccept.disabled = !(await checkPesel(inputCurrentPesel, originPesel) && name && lastName && selectedOpt.length);
    }

    async function editSubjectsOfTeacher(butonEdit, row, id, name, last_name, pesel, currentSubjects) {
        butonEdit.style.display = 'none';
        const buttonCancel = document.createElement("button");
        buttonCancel.innerHTML = '<span class="material-symbols-outlined button">close</span>';
        buttonCancel.onclick = () => {
            buttonCancel.remove();
            buttonAccept.remove();
            butonEdit.style.display = 'inline';
        }
        const buttonAccept = document.createElement("button");
        buttonAccept.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        buttonAccept.disabled = 'disabled';

        butonEdit.parentElement.appendChild(buttonCancel);
        butonEdit.parentElement.appendChild(buttonAccept);
        row.cells[4].innerHTML = '';
        const subjectsSelect = document.createElement('select');
        subjectsSelect.multiple = 'multiple';
        await get_all_subjects(subjectsSelect);
        for (const option of subjectsSelect.options) {
            if (currentSubjects.indexOf(option.value) >= 0) {
                option.selected = true;
            }
        }

        row.cells[4].appendChild(subjectsSelect);
        const inputName = document.createElement('input');
        inputName.type = 'text';
        inputName.value = name;
        row.cells[1].innerText = '';
        row.cells[1].appendChild(inputName);
        const inputLastName = document.createElement('input');
        inputLastName.value = last_name;
        inputLastName.type = 'text';
        row.cells[2].innerText = '';
        row.cells[2].appendChild(inputLastName);
        const inputPesel = document.createElement("input");
        inputPesel.value = pesel;
        inputPesel.type = 'number'
        row.cells[3].innerText = '';
        row.cells[3].appendChild(inputPesel);
        buttonAccept.onclick = async () => {
            await updateDataTeacher(id, inputName, inputLastName, inputPesel, subjectsSelect)
            buttonCancel.remove();
            buttonAccept.remove();
            butonEdit.style.display = 'inline';

            //tableTeacher();
        }

        inputName.onkeyup = () => checkDataEdit(buttonAccept, pesel, name, last_name, subjectsSelect, inputPesel);
        inputLastName.onkeyup = () => checkDataEdit(buttonAccept, pesel, name, last_name, subjectsSelect, inputPesel);
        inputPesel.onkeyup = () => checkDataEdit(buttonAccept, pesel, name, last_name, subjectsSelect, inputPesel);
        subjectsSelect.onchange = () => checkDataEdit(buttonAccept, pesel, name, last_name, subjectsSelect, inputPesel);
    }

    async function tableTeacher() {
        document.getElementById("table_id").innerHTML = '';
        const allTeacher = await (await fetch('/teacher/get_all_teacher')).json();
        const tableOfTeacher = document.getElementById("table_id");
        const Hrow = tableOfTeacher.createTHead().insertRow();
        Hrow.insertCell().innerHTML = 'lp';
        Hrow.insertCell().innerHTML = 'imie';
        Hrow.insertCell().innerHTML = 'nazwisko';
        Hrow.insertCell().innerHTML = 'pesel';
        Hrow.insertCell().innerHTML = 'przedmiot';
        Hrow.insertCell().innerHTML = 'akcja';
        let lp = 1

        for (const j of allTeacher) {
            const currentSubjects = (await getSubjectsOfTeacher(j.id)).map(obj=>obj.subject);
            const row = tableOfTeacher.insertRow();
            row.insertCell().innerHTML = `${lp++}`;
            row.insertCell().innerHTML = `${j.name}`;
            row.insertCell().innerHTML = `${j.last_name}`;
            row.insertCell().innerHTML = `${j.pesel}`;
            row.insertCell().innerHTML = currentSubjects.join(', ');
            row.insertCell();
            const edit = document.createElement("button");
            edit.innerHTML = '<span class="material-symbols-outlined button">edit</span>';
            edit.onclick = () => editSubjectsOfTeacher(edit, row, j.id, j.name, j.last_name, j.pesel, currentSubjects)
            row.cells[5].appendChild(edit);
        }
    }

    async function init() {
        const subjectsSelect = document.getElementById("subject");
        await get_all_subjects(subjectsSelect);
        await tableTeacher();
    }

    init();
</script>
</html>