<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>parents</title>
    <script src="/static/menu.js"></script>
    <link rel="stylesheet" href="/static/main.style.css">
    <link rel="stylesheet" href="/static/class.style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <!--    <link rel="stylesheet"-->
    <!--          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>-->
    <!--    <link rel="stylesheet"-->
    <!--          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>-->
</head>
<body>
<div id="menu_id" class="menu"></div>
<script> createMenu(document.getElementById('menu_id'));</script>
<div class="sectionAdd">
    <label for="imie_id">imie</label>
    <input type="text" id="imie_id">
    <label for="nazwisko">nazwisko</label>
    <input type="text" id="nazwisko">
    <label for="pesel">pesel</label>
    <input type="number" id="pesel" onkeyup="checkPesel(this,document.getElementById('but_id'), null)">
    <button id="but_id" disabled="disabled" onclick="addParent()"><span class="material-symbols-outlined button">person_add</span>
    </button>
</div>
<table id="table_id" style=" border-collapse: collapse; border: black 1px solid"></table>
<div class="table_grades">
    <table id="table_oceny_id" style=" border-collapse: collapse; border: black 1px solid"></table>
</div>
<script>

    async function addParent() {
        const data = {
            name: document.getElementById("imie_id").value,
            last_name: document.getElementById("nazwisko").value,
            pesel: +document.getElementById("pesel").value,

        };
        const response = await fetch('/parents/add', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if (response.ok) {
            await getAllParents();
            document.getElementById("imie_id").value = '';
            document.getElementById("nazwisko").value = '';
            document.getElementById("pesel").value = '';
        }
    }


    async function isPeselExist(pesel) {
        const response = await fetch(`/parents/check_pesel/${pesel}`)
        return +(await response.text());
    }


    async function checkPesel(peselInput, buton, originValue) {
        let isValueNotCorrect = peselInput.value.length < 2;
        if (!isValueNotCorrect && originValue !== +peselInput.value) {
            isValueNotCorrect = await isPeselExist(peselInput.value);
        }
        if (isValueNotCorrect) { // czy istnieje w bazie endpointem
            peselInput.classList.remove("okInputData")
            peselInput.classList.add("wrongInputData")
            buton.disabled = true;
        } else {
            peselInput.classList.remove("wrongInputData")
            peselInput.classList.add("okInputData")
            buton.disabled = false;
        }
    }


    async function remove(parentId) {
        if (confirm("czy napewno chcesz usunąć")) {
            await fetch(`/parents/${parentId}`, {method: 'DELETE'})
            await getAllParents()
        }
    }


    async function getAllParents() {

        const tableParents = document.getElementById("table_id");
        tableParents.innerHTML = '';
        const header = tableParents.createTHead();
        const headerRow = header.insertRow();
        for (const i of ['No', 'imie', 'nazwisko', 'pesel', 'akcja']) {
            headerRow.insertCell().innerText = i;
        }
        const parents = await (await fetch('/parents/getAllParents')).json();
        let counter = 1;
        for (const i of parents) {
            const row = tableParents.insertRow();
            row.insertCell().innerText = `${counter++}`;
            row.insertCell().innerText = i['name'];
            row.insertCell().innerText = i['last_name'];
            row.insertCell().innerText = i['pesel'];
            const editButton = document.createElement("button");
            editButton.innerHTML = '<span class="material-symbols-outlined button">edit</span>';
            editButton.onclick = () => editData(editButton, row, i['name'], i['last_name'], i['pesel'], i['id']);
            row.insertCell().innerHTML =
                `<button onclick="remove(${i.id})"><span class="material-symbols-outlined button">person_remove</span></button>`;
            row.cells[4].appendChild(editButton);
        }

    }

    function upadeData(upBaton, butonExit, doneBaton, row, id, name, last_name, pesel) {
        fetch(`/parents/update/${id}`, {
            method: 'PUT', body: JSON.stringify({name: name.value, last_name: last_name.value, pesel: pesel.value}),
            headers: {'Content-Type': 'application/json'}
        })
        exit(upBaton, butonExit, doneBaton, row, name, last_name, pesel)
    }

    function exit(buton, bExit, bdone, row, imie, nazwisko, pesel) {
        row.cells[1].innerHTML = imie.value;
        row.cells[2].innerHTML = nazwisko.value;
        row.cells[3].innerHTML = pesel.value;
        bExit.remove();
        bdone.remove();
        buton.style.display = "inline";

    }

    function action_keyword(doneButton, nazwa, input) {
        if (nazwa !== input.value)
            doneButton.disabled = false;
        else (doneButton.disabled = true);
    }

    async function editData(buton, row, imie, nazwisko, pesel, id) {
        buton.style.display = "none";
        row.cells[1].innerHTML = '';
        row.cells[2].innerHTML = '';
        row.cells[3].innerHTML = '';
        const input1 = document.createElement("input");
        input1.type = 'text';
        input1.value = imie;
        row.cells[1].appendChild(input1);
        const input2 = document.createElement("input");
        input2.type = 'text';
        input2.value = nazwisko;
        row.cells[2].appendChild(input2);
        const input3 = document.createElement("input");
        input3.type = 'number';
        input3.value = pesel;

        row.cells[3].appendChild(input3);
        const doneButton = document.createElement("button");
        doneButton.innerHTML = '<span class="material-symbols-outlined button">done</span>';
        doneButton.disabled = "disabled";
        input1.onkeyup = () => action_keyword(doneButton, imie, input1)
        input2.onkeyup = () => action_keyword(doneButton, nazwisko, input2)
        input3.onkeyup = () => checkPesel(input3, doneButton, pesel);
        row.cells[4].appendChild(doneButton);
        doneButton.onclick = () => upadeData(buton, exitButton, doneButton, row, id, input1, input2, input3);
        const exitButton = document.createElement("button");
        exitButton.innerHTML = '<span class="material-symbols-outlined">close</span>'
        row.cells[4].appendChild(exitButton)
        exitButton.onclick = () => exit(buton, exitButton, doneButton, row, imie, nazwisko, pesel);


    }


    getAllParents();

</script>

</body>
</html>